---
- name: Enable rspamd extended headers
  copy:
    src: milter_headers.conf
    dest: /etc/rspamd/override.d/milter_headers.conf
  notify: restart rspamd

- name: Enable rspamd redis backend
  copy:
    src: redis.conf
    dest: /etc/rspamd/override.d/redis.conf
  notify: restart rspamd

- name: Hash the rspamd web interface password
  shell: rspamadm pw -p "{{ ispmail_rspamd_web_password }}"
  register: ispmail_rspamd_web_password_hashed
  notify: restart rspamd

- name: Set rspamd admin web interface password
  template:
    src: worker-controller.conf.j2
    dest: /etc/rspamd/local.d/worker-controller.inc
  notify: restart rspamd
