user = {{ ispmail_db_username|default('mailserver') }}
password = {{ispmail_mysql_mailserver_password}}
hosts = {{ ispmail_db_host|default('127.0.0.1') }}
dbname = {{ ispmail_db_name|default('mailserver') }}
query = {{ ispmail_postfix_virtual_mailbox_domains_query|default("SELECT 1 FROM virtual_domains WHERE name='%s'") }}
